@font-face {
    font-family: 'Playwrite AU NSW';
    src: url('/fonts/PlaywriteAUNSW-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Playwrite AU NSW';
    src: url('/fonts/PlaywriteAUNSW-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter_18pt';
    src: url('/fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  